<div class="wrapper">
    <div class="card">
        <div class="image-wrapper">
            <img src="assets/ooredoo2.png" alt="">
        </div>
        <hr>
        <form  [formGroup]="loginFormGroup" class="form-wrapper">
            <h1>Welcome</h1>
            <div class="input-box">
                <input formControlName="username" type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" formControlName="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button (click)="onLogin()" class="btn">Login</button>
        </form>
    </div>
</div>