.sidebar {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
    background-color: #f4f4f4;
}

.sidebar p-button {
    width: 100%;
    color: #5a5a5a;
    background-color: white;
    font-weight: 700;
    border: none;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.sidebar p-button:hover {
    background-color: #ed1c24;
    color: white;
}

.logo-image {
    width: 200px;
    object-fit: cover;
    margin: 0 auto; /* Centre l'image horizontalement */
    display: block; /* Pour s'assurer que l'image est un bloc */
    margin-bottom: 20px; /* Espacement entre le logo et le contenu */
}
