
<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="content">
            
            <p-tree class="w-full md:w-30rem" [value]="sidBarMenu">
                <ng-template let-node pTemplate="default">
                    <a (click)="navigateToRoute(node.key)">
                  <ng-container *ngIf="node.pushed !== false">
                    {{node.label}}
                  </ng-container></a>
                </ng-template>
              </p-tree>
              
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div>